@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet');

.logo {
    display: flex;
    justify-content: flex-start;
}
.namecolor {
    color: black;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}
.cv {
    color: red;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-around;
        
    flex-direction: row; 
    cursor: pointer;
    font-size: 15px;

}